﻿@model WebGallery.Models.UsersList


<div class="gallery">
    <div class="images-line">
        <div class="img-rack">

            @foreach (var user in Model.Users)
            {
                <div class="Users_control">
                    <div class="Users_control_b0">
                        @user.UserName
                    </div>
                    <div class="Users_control_b1" idbtn="@user.Id">
                        <input type="button" value="Разбанить" onclick="RemoveBan('@user.Id.ToString()')" />
                    </div>
                </div>
                <hr />
            }

            <hr />
            <div style="width: 100%;">
                @{
                    var next = Model.Page + 1;
                    var previous = Model.Page - 1;
                    if (Model.Page == 1 && Model.MaxPage > 1)
                    {
                        <a href="Administration/ControlBanUsers?page=@next" class="toRight">Cледующие</a>
                    }
                    else if (Model.Page == Model.MaxPage && Model.MaxPage > 1)
                    {
                        <a href="Administration/ControlBanUsers?page=@previous" class="toLeft">Предыдущие &nbsp;</a>
                    }
                    else if (Model.Page > 1 && Model.MaxPage < Model.MaxPage)
                    {
                        <a href="Administration/ControlBanUsers?page=@previous" class="toLeft">Предыдущие &nbsp;</a>
                        <a href="Administration/ControlBanUsers?page=@next" class="toRight">Cледующие</a>
                    }
                }
            </div>
        </div>
    </div>
</div>
