﻿@model WebGallery.Models.ImageLoad

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Create.js"></script>
<form action="/Administration/Upload" method="post" id="CreateForm" enctype="multipart/form-data">
    <table class="LoadImage">
        <tr>
            <td>
                <label>Название</label>
            </td>
            <td>
                <div>
                    <input id="Name" name="Name" type="text" value="" class="tdInput" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Загрузите Ваше изображение</label>
            </td>
            <td>
                <div>
                    <input type="file" name="upload" accept="image/*,image/jpeg" class="tdInput" id="file-input">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Выбрать жанр</label>
            </td>
            <td>
                <div>
                    <select id="Genre1" name="Genre" class="tdInput">
                        @foreach (var genre in ViewBag.Genres)
                        {
                            <option value="@genre.Genre">@genre.Genre</option>
                        }
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Или укажите новый жанр </label>
                <input type="checkbox" id="checker" value="новый жанр" onclick="activOn(this)" />
            </td>
            <td>
                <div>
                    <input id="Genre2" name="Genre" type="text" value="" disabled="disabled" class="tdInput" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Дайте короткий комментарий</label>
            </td>
            <td>
                <div>
                    <textarea id="Description" name="Description" class="textarea"></textarea>
                </div>
            </td>
        </tr>
    </table>
    <div><input type="checkbox" id="IsPrivate" name="IsPrivate" />Изображение только для зарегистрированных пользователей</div>


    <div id="list-view"></div>
    <div class="upload_button">
        <input type="submit" value="Загрузить" id="Create" />
    </div>
</form>