﻿@model IEnumerable<ImageImgur>

@{
    ViewBag.Title = "ImagesImgur";
}

<h2>ImagesImgur</h2>


<div class="gallery">
            <div class="images-line">
                <div class="img-rack">
                    @{
                        foreach (var image in Model)
                        {
                            <div class="img-slid">
                                <figure>                                 
                                        <img src="@image.link" alt="image_name">

                                    <figcaption>
                                        <div class="img_name">@image.description</div>
                                    </figcaption>
                                </figure>
                            </div>
                        }
                    }
                </div>
            </div>
        }

    }
</div>

