﻿@model WebGallery.Models.ImageListDisplay

<div class="list_group">
    <div class="list_line">
        <div class="list_item10">
            Имя
        </div>

        <div class="list_item10">
            Жанр
        </div>

        <div class="list_item40">
            Описание
        </div>

        <div class="list_item5">
            Like
        </div>
        <div class="list_item5">
            DisLike
        </div>
    </div>
    <hr class="line" />

    @foreach (var item in Model.Images)
    {
        <div class="list_line" idbtn="@item.Id">
            <div class="list_item10">
                <a href="/Administration/EditImage?id=@item.Id"> @item.Name &nbsp; &nbsp; </a>
            </div>

            <div class="list_item10">
                @Html.DisplayFor(modelItem => item.Genre)  &nbsp;
            </div>
            <div class="list_item40">
                @Html.DisplayFor(modelItem => item.Description)  &nbsp;
            </div>

            <div class="list_item5">
                @Html.DisplayFor(modelItem => item.Like)  &nbsp;
            </div>
            <div class="list_item5">
                @Html.DisplayFor(modelItem => item.DisLike)   &nbsp;
            </div>
            <div class="list_item30">
                <input type="button"  value="Удалить" onclick="DelImg('@item.Id.ToString()')" />
            </div>
        </div>
        <hr class="line" />
    }
</div>
