﻿<div class="login_container">
    <div class="shadow_container">
        <a class="back_button" href="javascript:history.back()"><i class="fas fa-times"></i></a>
        <div class="NotRight">
            Нет Прав!!!
        </div>
    </div>
</div>
