﻿<li><a href="/Administration/Create">Загрузить</a></li>
<li><a href="/Administration/ImagesImgur">ImagesImgur(Cats)</a></li>
<li><a href="/Administration/ModerationImage">Редактирование изображений</a></li>
<li><a href="/Administration/ControlUsers"> Управление пользователями</a></li>
<li><a href="/Administration/ControlBanUsers"> Забаненые пользователи</a></li>