﻿@model WebGallery.Models.ManageUserDisplay
<div class="login_container">
    <div class="login_area">
        <div class="close_button">
            <a href="/Image/Index"><i class="far fa-window-close"></i></a>
        </div>
        <p>Вы вошли как <strong>@User.Identity.GetUserName()</strong></p>

        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h2>Смена пороля</h2>
            <hr />
            @Html.ValidationSummary()
            <div class="form-group">
                <h3>Укажите текущий пороль</h3>
                <div>
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
            </div>
            <div class="form-group">
                <h3>Введите новый пороль</h3>
                 <div>
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
            </div>
            <div class="form-group">
                <h3>Повторите новый пороль</h3>
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
                <br />
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Сменить пароль" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>