﻿@model WebGallery.Models.EditUserDisplay

<div class="login_container">
    <div class="login_area">
        <div class="close_button">
            <a href="/Image/Index"><i class="far fa-window-close"></i></a>
        </div>

        @using (Html.BeginForm("CustomizePage", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.Id)
            <hr />
            @Html.ValidationSummary()
            <div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.IsOver18)
                    @Html.LabelFor(m => m.IsOver18, "Подтвердить совершеннолетие")
                </div>
            </div>
            <div>
                <h3>Выбрать любимые жанры</h3>
                <div>
                    @{
                        for (int i = 0; i < Model.FavoriteGenresList.Count; i++)
                        {
                            <div class="form-group">
                                <div>
                                    @Html.CheckBoxFor(m => m.FavoriteGenresList[i].SwitchOn)
                                    @Html.DisplayFor(m => m.FavoriteGenresList[i].Genre)
                                    @Html.HiddenFor(m => m.FavoriteGenresList[i].Genre)
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div>
                <h3>Укажите количество изображений  на стартовой странице каждого жанра</h3>
                <div class="form-group">
                    <div>
                        @Html.EditorFor(m => m.ImageTake);
                    </div>
                    <br />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>

