﻿@model WebGallery.Models.LoginViewModel


<div class="login_container">
    <div class="login_area">
        <section id="loginForm">
            <div class="close_button">
                <a href="/Image/Index"><i class="far fa-window-close"></i></a>
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>ВХОД В АККАУНТ</h2>
                <hr />
                @Html.ValidationSummary(true)
                <div>
                    <h3>ЛОГИН</h3>
                    <div>
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div>
                    <h3>ПАРОЛЬ</h3>
                    <div>
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <span>Запомнить меня</span>
                            <br />

                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <input class="in_button" type="submit" value="ВОЙТИ" />
                    </div>
                </div>
                <hr />
                <div class="note">
                    <a href="@Url.Action("Register", "Account")" style="color: midnightblue">Зарегистрируйтесь</a>
                    , если у вас нет учетной записи.
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}