﻿@model WebGallery.Models.RegisterUserDisplay
<div class="login_container">
    <div class="login_area">
        <div class="close_button">
            <a href="/Image/Index"><i class="far fa-window-close"></i></a>
        </div>
        @{
            ViewBag.Title = "РЕГИСТРАЦИЯ";
        }
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary()
            <div class="form-group">
                <h3> Введите LOGIN</h3>
                <div>
                    @Html.TextBoxFor(m => m.UserName)
                </div>
            </div>
            <div class="form-group">
                <h3>Введите пороль </h3>
                <div>
                    @Html.PasswordFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                <h3>Повторите пороль</h3>
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="IsOver18">Подтвердите, что вы совершеннолетний </label>
                    @Html.CheckBoxFor(m => m.IsOver18)
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" class="btn btn-default" value="Зарегистрироваться" />
                </div>
            </div>
            <hr />
        }
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
