﻿<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Content/img/icon_mini.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Montserrat|Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href="~/Content/styles.css" rel="stylesheet" />

</head>
<body class="home">
    <header>
        <div class="container">
            <dir class="searcher">
                <form action="/Image/FindPage" method="post" id="FormSearch">
                    <input type="search" placeholder="Искать здесь.." name="search" class="searcher-key" autocomplete="off">
                    <button type="button" onclick="FormSearchSubmit()"><i class="fas fa-search"></i></button>
                </form>
                <div id="result">
                </div>
            </dir>
            <div class="logo"><a href="/Image/Index"><img src="~/Content/img/logo.png" width="90" height="90" alt="image_name"></a></div>
            <h1>Gallery</h1>
            <ul class="mainNav">
                <li><a href="/Image/Index">Главная</a></li>
                <li class="innerNavParent">
                    <a href=@Url.HttpRouteUrl("Default", new { controller = "Image", action = "ImageAllGenry"})> Все жанры</a>
                    <ul class="mainNavInner">
                        @{
                            Html.RenderAction("PartialViewGenry", "Image");
                        }
                    </ul>
                </li>
                <li class="innerNavParent">
                    <a>Сортировка</a>
                    <ul class="mainNavInner">
                        <li><a href=@Url.HttpRouteUrl("Default", new { controller = "Image", action = "PopularImages"})>Популярное</a></li>
                        <li><a href=@Url.HttpRouteUrl("Default", new { controller = "Image", action = "NewImages"})>Новинки</a></li>
                    </ul>
                </li>
                @Html.Partial("_LoginPartial")
            </ul>
            @{
                Html.RenderAction("PartialViewMenu", "Image");
            }
        </div>
    </header>
    <div class="main">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="copyright">
            <p><a href="https://github.com/hjuggy">Tomash</a> &copy; 2019. All Rights Reserved.</p>
        </div>
    </footer>

    <a href="#" class="scrollup">Наверх</a>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Layout.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>