﻿@if (Request.IsAuthenticated)
{
    <li class="innerNavParent">
        <a>Привет &nbsp @User.Identity.GetUserName()  </a>
        <ul class="mainNavInner">
            <li>
                @Html.ActionLink("Сменить пороль", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="/Account/CustomizePage">Настроить страницу</a></li>

            @{
                Html.RenderAction("PartialViewModerator", "Administration");
            }

            @{
                Html.RenderAction("PartialViewAdmin", "Administration");
            }
        </ul>
    </li>
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
        }
        <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
    </li>
}
else
{
    <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
