﻿@model WebGallery.Models.ImageDisplay

<div class="login_container">
    <div class="shadow_container">
        <a class="back_button" href="javascript:history.back()"><i class="fas fa-times"></i></a>
        <div class="Image-str" id="@Model.Id">
            <div class="Image-name">@Model.Name</div>
            <div>
                <img src="@Url.Content(Model.Path)" alt="картинка" width="800" />
            </div>
            <div>
                <div class="like_zone">
                    <a class="like" idimage="@Model.Id">
                        <i class="far fa-thumbs-up"></i>
                        <i likeidimage="@Model.Id">@Model.Like</i>
                    </a>
                    <a class="dislike" idimage="@Model.Id">
                        <i class="far fa-thumbs-down"></i>
                        <i dislikeidimage="@Model.Id">@Model.DisLike</i>
                    </a>
                    <span class="TimeLoad">
                        @Model.DateTimeLoad.ToString("U")
                    </span>
                </div>
            </div>
            <div class="Image-description">@Model.Description</div>
        </div>

        <div class="comments_container">
            @if (User.Identity.IsAuthenticated)
            {
                Html.RenderAction("PartialCommentForm", "Image", new { id = Model.Id });
            }
            @{
                Html.RenderAction("PartialComment", "Image", new { id = Model.Id });
            }
        </div>
    </div>
</div>