﻿@using WebGallery.Models
@model  IEnumerable<StartPageDispay<ImageDisplay>>
<div class="gallery">
    @{ foreach (var imagescol in Model)
        {
            <div class="images-line">
                <div class="img-title">
                    @imagescol.Genre
                </div>
                <div class="img-rack">
                    @{
                        foreach (var image in imagescol.Images)
                        {
                            <div class="img-slid" id="@image.Id">
                                <figure>
                                    <a href="@Url.Action("Details", "Image", new { id = image.Id })" class="increase_link">
                                        <img src="@Url.Content(image.Path)" alt="image_name">
                                    </a>
                                    <figcaption>
                                        <div class="img_name">@image.Name</div>
                                        <div>
                                            <a class="like" idimage="@image.Id">
                                                <i class="far fa-thumbs-up likedislike"></i>
                                                <i likeidimage="@image.Id">@image.Like</i>
                                            </a>
                                            <a class="dislike" idimage="@image.Id">
                                                <i class="far fa-thumbs-down likedislike"></i>
                                                <i dislikeidimage="@image.Id">@image.DisLike</i>
                                            </a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        }
                    }
                </div>
            </div>
        }

    }
</div>
