﻿@using WebGallery.Models
@model ImageListDisplay


<div class="gallery">
    <div class="images-line">
        <div class="img-title">
            @Model.CurrentGenre
        </div>
        <div class="img-rack">
            @{
                foreach (var image in Model.Images)
                {
                    <div class="img-slid" id="@image.Id">
                        <figure>
                            <a href="@Url.Action("Details", "Image", new { id = image.Id })" class="increase_link">
                                <img src="@Url.Content(image.Path)" alt="image_name">
                            </a>
                            <figcaption>
                                <div>@image.Name</div>
                                <div>
                                    <a class="like" idimage="@image.Id">
                                        <i class="far fa-thumbs-up"></i>
                                        <i likeidimage="@image.Id">@image.Like</i>
                                    </a>
                                    <a class="dislike" idimage="@image.Id">
                                        <i class="far fa-thumbs-down"></i>
                                        <i dislikeidimage="@image.Id">@image.DisLike</i>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                }
            }
        <hr />
            <div style="width: 100%;">
                @{
                    var next = Model.Page.CurrentPage + 1;
                    var previous = Model.Page.CurrentPage - 1;
                    if (Model.Page.CurrentPage == 1 && Model.Page.TotalPages > 1)
                    {
                        <a href="/Image/Index?genre=@Model.CurrentGenre&&page=@next" class="toRight">Cледующие</a>
                    }
                    else if (Model.Page.CurrentPage == Model.Page.TotalPages && Model.Page.TotalPages > 1)
                    {
                        <a href="/Image/Index?genre=@Model.CurrentGenre&&page=@previous" class="toLeft">Предыдущие &nbsp;</a>
                    }
                    else if (Model.Page.CurrentPage > 1 && Model.Page.CurrentPage < Model.Page.TotalPages)
                    {
                        <a href="/Image/Index?genre=@Model.CurrentGenre&&page=@previous" class="toLeft">Предыдущие &nbsp;</a>
                        <a href="/Image/Index?genre=@Model.CurrentGenre&&page=@next" class="toRight">Cледующие</a>
                    }
                }
            </div>
        </div>
    </div>
</div>