﻿@model Guid

<form id="CreateComment">
    <input type="hidden" name="WriterId" value="@User.Identity.GetUserId()" />
    <input type="hidden" name="WriterName" value="@User.Identity.GetUserName()" />
    <input type="hidden" name="ImageId" value="@Model" />
    <textarea name="CommentContent" id="CommentText"></textarea>
    <input type="button" id="btnCreateComment" value="Отправить" />
</form>
