﻿@using WebGallery.Models
@model IEnumerable<GenreDisplay>

<nav class="sideNav">

    <ul>
        @foreach (var item in Model)
        {
            <li><a class="class_of_img" href=@Url.HttpRouteUrl("GenreRoute", new { controller = "Image", action = "Index", genre = item.Genre , page = 1 })>@item.Genre</a><a href="" class="number_of_class_img" idgenry="@item.Genre">@item.NumberOfImages</a> </li>
        }
    </ul>
</nav>
