﻿@using WebGallery.Models
@model IEnumerable<GenreDisplay>


@foreach (var item in Model)
{
    <li><a href=@Url.HttpRouteUrl("GenreRoute", new { controller = "Image", action = "Index", genre = item.Genre , page = 1 })>@item.Genre</a></li>
}



