﻿@model WebGallery.Models.CommentsList

<div class="comments_zone" id="coments">
    @foreach (var item in Model.Comments)
    {
        <div>
            <div class="toLeft">
                @item.WriterName
            </div>
            <div class="toRight">
                @item.DateTimeComment.ToString("U")
            </div>
            <br />
            <div>
                @item.CommentContent
            </div>
            <br />
        </div>
    }
        <div>
            @{
                if (Model.Page == 1 && Model.MaxPage>1)
                {
                    <a href="" id="next" onclick="nextpage(event)" class="toRight">Cледующие</a>
                }
                else if (Model.Page == Model.MaxPage && Model.MaxPage>1)
                {
                    <a href="" id="previous" onclick="previoupage(event)" class="toLeft">Предыдущие &nbsp;</a>
                }
                else if (Model.Page > 1 && Model.Page < Model.MaxPage)
                {
                    <a href="" id="previous" onclick="previoupage(event)" class="toLeft">Предыдущие &nbsp;</a><a href="" id="next" onclick="nextpage(event)" class="toRight">Cледующие</a>
                }
            }
        </div>
</div>
<div>
    <form id="CommentsList">
        <input type="hidden" id="CarentPage" name="Page" value="@Model.Page" />
        <input type="hidden" name="ImageId" value="@Model.ImageId" />
    </form>
</div>