﻿* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-image: url(img/background_pic.jpg);
    background-attachment: fixed;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    list-style-position: inside;
    min-width: 700px;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
    color: #d5d5d5;
    text-shadow: 2px 2px 3px rgba(0,0,0,.75);
    font-size: 2em;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    font-family: Montserrat, sans-serif;
}

.container {
    position: relative;
    max-width: 1400px;
    min-width: 700px;
    padding: 0 2%;
    margin: 0 auto;
}

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
    text-indent: -9999px;
    background: url(img/icon_top.png) no-repeat;
}
/*=====================header=======================*/
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(54, 55, 56, 1);
}

    header .container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

.logo {
    width: 16.66666%;
    text-align: center;
    margin: 20px 0;
}

h1 {
    width: 83.334%;
    margin: 0;
}

.mainNav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

    .mainNav li {
        width: 20%;
        list-style: none;
        text-align: center;
    }

    .mainNav a {
        display: block;
        padding: 5px;
        font-family: 'Exo 2', sans-serif;
        outline: none;
        border-right: none;
        border-top: 3px solid #a5a5a5;
        cursor: default;
        transition: all .3s;
    }

        .mainNav a:hover {
            background-color: rgba(6, 65, 129, .7);
            color: white;
        }

        .mainNav a:active {
            background-color: rgba(120, 120, 120, .6);
            color: white;
        }

.innerNavParent {
    position: relative;
}

.mainNavInner {
    position: absolute;
    top: 31.6px;
    left: 0;
    right: 0;
    z-index: 20;
    display: none;
    background-color: rgba(54, 55, 56, 1);
}

    .mainNavInner li {
        width: 100%;
    }

    .mainNavInner a {
        display: block;
        border: none;
    }

.innerNavParent:hover .mainNavInner {
    display: block;
}

.sideNav {
    position: absolute;
    top: 175px;
    width: 15%;
}

    .sideNav ul {
        margin: 0;
        padding: 0;
    }

    .sideNav a {
        margin: 0;
        padding: 0;
        cursor: default;
    }

    .sideNav li {
        list-style: none;
        background-color: rgba(54, 55, 56, 1);
        border: 1px solid #666;
        border-bottom: none;
        padding: 5px;
        font-family: 'Exo 2', sans-serif;
        outline: none;
        transition: all .3s;
    }

        .sideNav li:last-of-type {
            border-bottom: 1px solid #666;
        }

        .sideNav li:hover {
            background-color: rgba(6, 65, 129, 1);
            color: white;
        }

        .sideNav li:active {
            background-color: rgba(120, 120, 120, .6);
            color: white;
        }

.class_of_img {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
}

.number_of_class_img {
    display: inline-block;
    width: 20%;
    font-size: 14px;
    text-align: right;
    color: grey;
}

.searcher {
    position: absolute;
    top: 0;
    right: 2%;
    width: 300px;
    padding: 0;
}

    .searcher form {
        width: 100%;
    }

    .searcher input {
        width: 100%;
        height: 30px;
        padding-left: 10px;
        border: 2px solid #666;
        outline: none;
        background-color: white;
        color: #9e9c9c;
    }

    .searcher button {
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 30px;
        border: none;
        background-color: rgba(74, 75, 75, 1);
        cursor: pointer;
    }

.searchlist {
    background-color: white;
    padding: 3px 5px 3px 10px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-bottom: 1px solid rgb(200,200,200);
}

    .searchlist:last-of-type {
        border-bottom: 2px solid #666;
    }

    .searchlist a {
        font-size: 14px;
        color: grey;
    }

/*=====================header=======================*/

/*====================main=======================*/
.main {
    position: relative;
    max-width: 1400px;
    min-width: 700px;
    padding: 0 2%;
    margin: 0 auto;
}

    .main .container {
        min-height: calc(100vh - 175px - 35.2px);
        ;
        background-color: rgba(54, 55, 56, .9);
        margin-left: 16.666%;
        margin-top: 175px;
        margin-bottom: 35.2px;
        min-width: 500px;
        padding: 0 0.5%;
    }

article {
    margin-bottom: 40px;
}

.gallery {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    /*background-color: rgba(74, 75, 75, .9);*/
    margin-bottom: 20px;
}

.images-line {
    width: 100%;
    border-top: 1px dashed rgba(30, 30, 30, 1);
}

    .images-line:first-of-type {
        border-top: none;
    }

.img-slid {
    position: relative;
    width: 19%;
    margin: 0.5% 0.5%;
}

.img-title {
    text-align: center;
    font-size: 18px;
    color: darkgray;
    padding-top: 5px;
}

.img-rack {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
}

    .img-rack figure {
        margin: 0;
    }


    .img-rack figcaption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 4%;
        background-color: rgba(30, 30, 30, .5);
        color: rgb(200,200,200);
        text-align: center;
        padding: 10px 5px;
        opacity: 0;
        cursor: default;
        transition: all .3s;
    }

    .img-rack figure:hover figcaption {
        opacity: 1;
        margin-bottom: -2px;
    }

.img_name {
    color: rgb(200,200,200);
    padding-bottom: 5px;
}

.like, .dislike {
    color: rgb(200,200,200);
}

.likedislike {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.img_container {
    margin: 15px auto;
}

.login_container {
    width: 100%;
    min-height: 100vh;
    min-width: 700px;
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(img/background_pic.jpg);
    background-attachment: fixed;
    color: grey;
}

.login_area {
    position: relative;
    max-width: 430px;
    min-width: 300px;
    margin: 20px auto;
    padding: 55px 85px;
    background-color: rgba(54, 55, 56, .9);
    border-radius: 10px;
}

.close_button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: grey;
}

.login_area h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.login_area h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.login_area span {
    margin-left: 10px;
}

#UserName, #Password,
#ConfirmPassword, #NewPassword, #OldPassword {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

#ConfirmPassword {
    margin-bottom: 40px;
}

#RememberMe {
    margin: 20px 0 40px 0;
}

.in_button, .btn-default {
    min-width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
}

    .in_button:hover, .btn:hover {
        background-color: rgb(200,200,200);
    }

.note {
    font-size: 14px;
    text-align: center;
}


/*====================article=======================*/

/*====================Load=======================*/
.shadow_container {
    background-color: rgba(40,40,40,.7);
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.Image-str {
    display: block;
    text-align: center;
    margin-top: 20px;
    width: 60%;
}

    .Image-str img {
        max-height: 520px;
        margin: 0 auto;
    }

.Image-name {
    text-align: center;
    padding: 5px 10px;
}

.comments_zone {
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    background-color: rgba(50,50,50,.7);
}

.comments_container {
    margin-top: 49.2px;
    margin-left: 2%;
    margin-bottom: 20px;
    width: 30%;
}

#CommentText {
    width: 100%;
    height: 80px;
    overflow-y: scroll;
}

#CreateComment {
    width: 100%;
}

.back_button {
    display: block;
    width: 50px;
    height: 30px;
    font-size: 25px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    color: grey;
    background-color: rgba(20,20,20,.4);
    top: 10px;
    right: 40px;
    transition: all 0.3s;
}

    .back_button:hover {
        background-color: rgba(20,20,20,.7);
        color: white;
    }

.like_zone {
    padding: 10px;
    text-align: center;
}

    .like_zone .like,
    .like_zone .dislike {
        font-size: 20px;
    }

.TimeLoad {
    color: rgb(200,200,200);
}

.LoadImage {
    padding-left: 20px;
    padding-top: 20px;
}

    .LoadImage tr {
        padding: 5px;
    }

#file-input {
    height: 25px;
}

.LoadImage tr td {
    padding: 3px;
    color: darkgrey;
}

#list-view {
    position: absolute;
    left: 570px;
    top: 20px;
}

.tdInput {
    width: 250px;
    height: 35px;
}

    #CreateForm input[type="text"], .tdInput {
        border: none;
        font-size: 14px;
        padding-left: 10px;
        width: 250px;
    }

    .textarea {
        border: none;
        font-size: 14px;
        padding-left: 10px;
        width: 250px;
    }

.upload_button {
    padding: 20px 0;
    padding-left: 287px;
}

input#Create {
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow: 0 1px rgba(255,255,255,.2) inset, 0 3px 5px rgba(0,1,6,.5), 0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}

    input#Create:hover:not(:active) {
        background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
    }

    input#Create:active {
        top: 1px;
        background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
        box-shadow: 0 0 1px rgba(0,0,0,.5) inset, 0 2px 3px rgba(0,0,0,.5) inset, 0 1px 1px rgba(255,255,255,.1);
    }



/*====================Load=======================*/


/*====================footer=======================*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(30, 30, 30, .9);
    clear: both;
}

.copyright {
    margin: 0 auto;
}

    .copyright p {
        font-size: 0.8em;
        color: #4573D5;
        text-align: center;
        padding: 3px 0;
        margin: 0;
    }

    .copyright a {
        color: #666666;
        transition: .2s;
    }

        .copyright a:hover {
            color: #a5a5a5;
        }

/*====================footer=======================*/











.toLeft {
    float: left;
}

.toRight {
    float: right;
}


.dislike {
    padding-left: 15px;
}

.TimeLoad {
    padding-left: 15px;
}

/* styles for validation helpers */

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



/*###############Administration##############*/
.Users_control{
    width: 100%;
    height: auto;
    padding: 4px;
    color:white;
}
.Users_control div {
    padding-left: 12px;
    float:left;
}
.Users_control_b0{
    width:120px;
}

.Users_control_b1 {
    width: 300px;
}
.Users_control_b2 {
    width: 120px;
}

.list_group {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(74, 75, 75, .9);
    margin-bottom: 20px;
}

.list_line {
    width: 100%;
    height: auto;
    padding: 4px;
    color: white;
}
.list_item5 {
    float:left;
    width:6%;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
}

.list_item10 {
    float: left;
    width: 11%;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
}

.list_item40 {
    float: left;
    width: 37%;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
}
.list_item30 {
    float: left;
    width: 25%;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
}

.line {
    width:100%;
    border: none;
    color: whitesmoke;
    background-color: whitesmoke;
    height: 1px;
}
.NotRight {
    font-size: 80px;
    color:red;
}